.header
    .left-header
        //- a(href="/") HOME
        h5 Tìm hiểu công nghệ Jamstack và các ngôn ngữ hỗ trợ xây dựng front-end Web
        h6  Nhóm trưởng: Bùi Ngọc Thạch 
        h6  Thành viên: Lê Văn Thống
        h6  Thành viên: Phan Nhật Trường

    .right-header
        a(href="/" ) IP SUBNET CALCULATOR TOOL
        a(href="/explainTool") EXPLAIN  TOOL
        
