.header
    .left-header
        //- a(href="/") HOME
        h5 Tìm hiểu công nghệ Jamstack và xây dựng ứng dụng Web minh họa kỹ thuật chia mạng con với IPv4
        h6  Nhóm trưởng: Bùi Ngọc Thạch 
        h6  Thành viên: Lê Văn Thống
        h6  Thành viên: Phan Nhật Trường

