extends ../layouts/index

block content
    .content
        #calculator.container.cal
            h1 Subnet Calculator
            .content
                .input
                    div
                        label(for='ip') Địa chỉ IP:
                        input(type='text' name='ip' placeholder='Vui lòng nhập địa chỉ IP')
                    div
                        .subnet-mask
                            label(for='subnet-mask') Subnet Mask /
                            input(style='max-width: 100px; margin-left: 20px' type='text' name='subnet-mask' placeholder='CIDR (VD: 29)')
            button#calculateNetworkButton Tính tổng đường mạng
    div 
        .content(style="display:flex;flex-flow: column nowrap;align-items:start")
            .result-container.result(style="display:none")
            button(class="btn_chitiet" style="display:none") Chi tiết
        .result.detail_ip(style="display:none; max-height: 270px; margin-top:12px")
