extends ../layouts/index
block content 
    .page-container
        .header-text CHON CACH CHIA IP
        .button-container
            a.action-button( href="/cidr") CIDR
            a.action-button( href="/vlsm") VLSM
        #message.status-message
        button#confirm-button.confirm-button(onclick='confirmChoice()') X&aacute;c nh&#x1EAD;n l&#x1EF1;a ch&#x1ECD;n
