extends ../layouts/index
block content 
    .page-container
        .header-text CHỌN CÁCH CHIA IP
        .button-container
            a.action-button( href="/cidr") CIDR
            a.action-button( href="/vlsm") VLSM
