extends ../layouts/index
block content
    .student-card
        each item in dssv
            .card-model
                h3 #{item.ten}
                .card-body
                    p(class="card-text") #{item.mssv}
                    a(class="btn-chitiet" href=`/listModel/${item.id}` ) Chi tiết

