doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title IPv4 
        link(rel="stylesheet" href="./client/css/style.css")
        link(rel="stylesheet" href="./client/css/home.css")
        link(rel="stylesheet" href="./client/css/vlsm.css")

        body
            .main
                //header
                .top(id="top")
                    include ../partials/header.pug
                //content
                .center
                    block content
                //footer
                include ../partials/footer.pug
script(src="./client/js/script.js")
script(src="./client/js/vlsm.js") 